body {
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-areas:
    "header header header header"
    "intro intro intro intro"
    "port port port port"
    "about about about contact"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:0.1em;
  /*height: 100vh;*/
  margin: 0;
  color:#4a4a4a;
}
a{
  color: #eb580f;
}
img{
   
}
header, #intro, #about, #portfolio, #social, #contact, footer {
  padding: 1em;
  background-color: #f1f1ee;
}
#header {
  grid-area: header;
}
#intro{
  grid-area: intro;
}
#portfolio {
  grid-area: port;      
}
#about {
    grid-area: about;
}
#contact {
  grid-area: contact;
}
#footer {
  grid-area: footer;
}

h1{
  margin:0em;
  font-size: 1.5em;
}
h2{
  font-size:1.2em;
  display: flex;
  justify-content: left;
}
h6{
  float:right;
}
.logoName{
  display: flex;
  justify-content: center;
  margin:0em;
}
.skills div{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills div p{
  padding: 0.5em 2.2em;
}
.skills div p:hover{
  color: #eb580f;
}
.webs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.webs div{
  padding:1em;
  margin:1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 15px -6px rgba(0,0,0,.4);
  box-shadow: 0 0 15px -6px rgba(0,0,0,.4);
}
.webs p{
  margin:1em 0em 0em 1em;
  display: flex;
  justify-content: center;
}
.webs a{
  margin:1em 0em 0em 1em;
  display: flex;
  justify-content: center;
}
.webs img{
  width: 100%;
}
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}
.photo{
  display: flex;
  justify-content: center;
  margin:1em;
}
.photo img{
  border-radius: 50%;
}
.cvPDF{
  display: flex;
  justify-content: center;
}
#contact div p{
  margin:2em;
}

/* Stack the layout on medium devices/viewports. */
@media all and (max-width: 870px) {
  body {
    grid-template-areas:
      "header "
      "intro"
      "port"
      "about"      
      "contact"
      "footer";
    grid-template-columns: 1fr;
  }
  .skills div p {
    padding: 0.5em 1em;
  }
  .webs{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 675px) {
  .webs{
    grid-template-columns: 1fr 1fr;
  }
  .about{
   grid-template-columns: 1fr;
  }
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 450px) {
  .skills div p{
    padding: 0.2em 0.6em;
  }
  .webs{
      grid-template-columns: 1fr;
  }
  .about div{
    margin:1em;
  }
}